#ifdef ORANGE
#include ".Xresources.d/themes/orange"
#elif JAPANESQUE
#include ".Xresources.d/themes/japanesque"
#endif

! includes
#include ".Xresources.d/xft"
#include ".Xresources.d/rofi"
#include ".Xresources.d/urxvt"
